################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/ApiCerveceria/bin/Debug/net6.0
/ApiCerveceria/obj
/.vs
